<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="../css/confirmation.css">
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header">
    <div class="container">
        <div class="forum">
        <h1><a href="/">FORUM</a></h1>
        </div>
       <div class="bottom">
            <a href="/create"><button type="submit">Создать пост</button></a>
            <a href="/logout"><button type="submit">Выйти</button></a>
        </div>  
    </div>
</header>

<section class="section">
	<div class="container">
   		<div class="welcome">
    		<h1>Congratulations! You are member of the forum now :)</h1>
    		<a href="/main">Go to Main page</a>
    		<!-- Need to add link to main page -->
		</div>
	</div>
</section>
</body>
</html>