.container {
    width: 100%;
    
    margin: 0 auto;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #243743;   
}
.forum{ 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display:inline-block;
    margin-left: 20px;
}

.forum a {
    color: #28B78D;
    text-decoration: none;
}

.bottom{
    padding: 10px;
    float: right;
    margin-top: 17px;

}

button{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #28B78D;
    margin: 0 10px 0 0; 
    border-radius: 5px;
    border : none;
    cursor: pointer;
    max-width: 200px;
    min-width: 150px;
    height: 50px;
    transition: background-color .2s linear;
}

button:hover {
    background-color: #166951;
}

.section {
    width: 100%;
    margin: 130px auto;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #243743;
}

.welcome a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #243743;
    text-decoration: none; 
    font-size: 20px;  
    position: relative; 
}

.welcome a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #28B78D;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.welcome a:hover {
    color: #28B78D;
}

.welcome a:hover:after {
    opacity: 0.6;
}