.container {
    width: 100%;
    
    margin: 0 auto;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #243743;   
}
.forum{ 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display:inline-block;
    margin-left: 20px;
}

.forum a {
    color: #28B78D;
    text-decoration: none;
}

.bottom{
    padding: 10px;
    float: right;
    margin-top: 17px;

}


.bottom button{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #28B78D;
    margin: 0 10px; 
    border-radius: 5px;
    border : none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    transition: background-color .2s linear;
}

.username {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
}

.bottom button.signout{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #28B78D;
    margin: 0 10px; 
    border-radius: 5px;
    border : none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: background-color .2s linear;
}

.bottom button:hover {
    background-color: #166951;
}

.post {
    margin: 40px auto 0 auto;
    display: block;
    width: 100%;
    max-width: 600px
}

button{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #28B78D;
    margin: 0 10px 0 0; 
    border-radius: 5px;
    border : none;
    cursor: pointer;
    max-width: 200px;
    min-width: 150px;
    height: 50px;
    transition: background-color .2s linear;
}

button:hover {
    background-color: #166951;
}

.section {
    width: 100%;
    margin: 130px auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #28B78D;
    font-weight: 900;
    font-size: 40px;
}


.form {
    margin: 40px auto 0 auto;
    display: block;
    width: 100%;
    max-width: 600px     
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #243743; 

} 

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 150px;
}

button.btn{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #28B78D;
    margin-top: 10px; 
    border-radius: 5px;
    border : none;
    cursor: pointer;
    max-width: 200px;
    min-width: 150px;
    height: 50px;
    transition: background-color .2s linear;
}

button.btn:hover {
    background-color: #166951;
}

.empty {
    color: red; 
    font-weight: bold;
}